body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f9fa;
    padding: 1rem;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: flex-start; /* Align items at the top */
}

section {
    flex: 1;
    margin-right: 1rem;
}

aside {
    width: 300px;
    padding: 1rem;
    background-color: #f1f1f1;
    border-radius: 8px;
}

/* Spinner styles */
.spinner {
    display: none;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Date styling */
.date-header {
    color: darkblue;
    font-weight: bold;
}

/* type styling */
.request-type {
    color: #006400; /* Dark Green */
}

/* Table styling */
#requests-table {
    width: 85%;
    border-collapse: collapse;
}

#requests-table td {
    padding: 0;
    border: none;
}

/* Define the alternating row colors */
.request-row:nth-child(even) {
    display: flex;
    align-items: center;
    background-color: #f9f9f9; /* Light grey */
}

.request-row:nth-child(odd) {
    display: flex;
    align-items: center;
    background-color: #ffffff; /* White */
}

.request-text {
    flex-grow: 1;
    margin-left: 5px; /* Space between checkbox and text */
}

.update-checkbox {
    margin-right: 0px; /* Reduced margin for tighter spacing */
    margin-left: 5px;
}

/* Update form styling */
.update-form {
    display: none;
    margin-top: 5px; /* Space between record and update form */
}

form div {
    margin-bottom: 1rem;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
}

form input, form select, form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

