/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Container styling */
.container {
    width: 100%;
    padding: 15px;
}

/* Header styling */
header {
    background-color: #f8f9fa;
    padding: 1rem;
    text-align: center;
}

/* Main content styling */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    align-items: flex-start;
}

/* Section styling */
section {
    flex: 1;
    margin-right: 1rem;
}

/* Sidebar styling */
aside {
    width: 300px;
    padding: 1rem;
    background-color: #f1f1f1;
    border-radius: 8px;
}

/* Responsive styles for smaller screens */
@media (max-width: 600px) {
    main {
        flex-direction: column;
    }

    section {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    aside {
        width: 100%;
    }
}

/* Spinner styling */
.spinner {
    display: none;
    border: 2vw solid #f3f3f3;
    border-top: 2vw solid #3498db;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    animation: spin 2s linear infinite;
    margin: auto;
}

@media (max-width: 600px) {
    .spinner {
        border: 4vh solid #f3f3f3;
        border-top: 4vh solid #3498db;
        width: 20vh;
        height: 20vh;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Sticky headers for the table */
#requests-table thead th {
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    z-index: 2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0.75rem;
}

#requests-table thead tr:nth-child(2) th {
    top: 34px;
    background-color: #f8f9fa;
    z-index: 1;
}

/* Table styling */
#requests-table {
    width: 100%;
    border-collapse: collapse;
}

#requests-table td, #requests-table th {
    padding: 0.5rem;
    text-align: left;
    border: 1px solid #ddd;
}

/* Define alternating row colors */
.request-row:nth-child(even) {
    background-color: #f9f9f9; /* Light grey */
}

.request-row:nth-child(odd) {
    background-color: #ffffff; /* White */
}

/* Date header styling */
.date-header {
    color: darkblue;
    font-weight: bold;
}

/* Request type styling */
.request-type {
    color: #006400; /* Dark Green */
    margin-left: 5px;
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
    font-size: smaller;
    font-weight: bold;
}

/* Request text styling */
.request-text {
    flex-grow: 1;
    margin-left: 5px;
    text-align: left;
    vertical-align: top;
}

/* Highlighted date styling */
.highlighted-date {
    color: #4507ee;
    font-size: smaller;
}

/* Checkbox styling */
.update-checkbox {
    margin-right: 0px;
    margin-left: 5px;
}

/* Update form styling */
.update-form {
    display: none;
    margin-top: 5px;
}

form div {
    margin-bottom: 1rem;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
}

form input, form select, form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

button {
    width: 250px;
    height: 45px;
    font-size: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

button:hover {
    background-color: #0056b3;
}

/* Print-specific styles */
@media print {
    #newRequestForm, #new-request-heading {
        display: none;
    }

    input[type="checkbox"] {
        display: none;
    }

    body {
        margin: 0;
        padding: 0;
    }

    header, main, aside {
        padding: 1rem;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 0.5rem;
        text-align: left;
        border: 1px solid #000;
    }

    #printButton {
        display: none;
    }
}
